{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/forbid-prop-types": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "react/jsx-uses-react": "error",   
    "react/jsx-uses-vars": "error" 
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
